{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{marketplace_filter.form|crispy}}
                <button class="btn btn-outline-info" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm table-hover table-responsive">
                <tr>
                    <th style="text-align:center">Marketplace</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Date Added</th>
                    <th style="text-align:center">Note</th>
                </tr>
                {% for marketplace in marketplaces %}
                <tr>
                    <td class="align-middle" style="text-align:center">
                        <a class="btn btn-sm btn-outline-info" href="{% url 'marketplace-detail' marketplace.slug %}">{{ marketplace.slug }}</a>
                    </td>
                    <td class="align-middle">
                        {{ marketplace.name }}
                    </td>
                    <td class="align-middle" style="text-align:center">
                        {{ marketplace.date_added|date:"dMy" }}
                    </td>
                    <td class="align-middle" >
                    {% if marketplace.note|length > 140 %}
                            {{ marketplace.note|slice:140 }} ...
                        {% else %}
                            {{ marketplace.note }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
